.modal-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: #F1F2F6;
    border: 1px solid black;
    border-radius: 10px;
}

.modal-titulo {
    font-size: 40px;
}

.modal-login-icone {
    height: 80px;
    width: 80px;
}

.form-input-conjunto {
    display: flex;
    flex-direction: column;
}

.form-input {
    height: 25px;
    width: 350px;
}

.login-button {
    background-color: #0871B4;
    width: 120px;
    text-decoration: none;
}